<div #content id="childModal" class="modal-header">
	<h4 class="modal-title" id="modal-basic-title">Login</h4>
	<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form (ngSubmit)="onSubmit()" #loginFrom="ngForm">
	<div class="modal-body">
		<div class="d-flex justify-content-center h-100" style="margin-top: 2%;">
			<div class="card">
				<div class="card-body">
					<span class="spinner-border" [hidden]="!loading"></span>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Username" id="username" required
							[(ngModel)]="model.email" name="name" #name="ngModel" />
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" required [(ngModel)]="model.password" name="password"
							class="form-control" placeholder="password" />
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox" (change)="changeRemember($event)">Remember Me
					</div>
					<div class="form-group">

					</div>

				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Don't have an account?<a routerLink="/Register">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center">
						<a href="#">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<h3 [hidden]="!loginerro" style="color: red;">Login invalido</h3>
		<input type="button" class="btn login-btn" [disabled]="!loginFrom.form.valid" (click)="onSubmit()"
			value="Login">

	</div>
</form>
