<h1 class="col-12" style="color:#FF8900; margin-top:100px;">{{campaignName}}</h1>
<div *ngIf="missions" style="margin-top:85px;">
	<div class="container" *ngIf="missions">

		<div *ngFor="let item of missions.Data" style="margin-right: 1em; margin-bottom:1em;"
			class="col-lg-12 col-sm-12 ">

			<div class="row" [routerLink]="['/Brefing',item.id]"
				style="border-width: 1px; border-color: rgba(112, 112, 112, 0.8); border-style: solid; background-color:rgba(29,33,39,0.5);">
				<div class="col-6 ">
					<p>{{item.missionName}}</p>
				</div>
				<div class="col-6 text-right">
					<span>{{item.solts}}</span>
				</div>
			</div>
		</div>


	</div>

</div>
