<div class="error-message" [hidden]="!noLoginUser" role="status" [innerHTML]="msg">
	<h3></h3>
</div>


<h3 *ngIf="success" style="color:chartreusew">Campanha criada com sucesso</h3>
<form *ngIf="!noLoginUser" [formGroup]='campaign' (ngSubmit)="onSubmit()">
	<label class="col-sm-12 col-form-label">Criar Campanha</label>
	<div class="form-group row">
		<label for="inputName" class="col-sm-12 col-form-label">Nome</label>
		<div class="col-12">
			<input type="text" class="form-control" formControlName="name" placeholder="Name">
		</div>
		<p style="color:white;" class="col-sm-12 col-form-label" [innerHtml]='checkValidator(getNames("name"),"name")'>
		</p>
	</div>
	<div class="form-group row">
		<label class="col-6 col-form-label"> <input type="checkbox" formControlName="ismaincampaing"> Campanha
			principal</label>
		<p style="color:white;" class="col-sm-12 col-form-label"
			[innerHtml]='checkValidator(getNames("ismaincampaing"),"ismaincampaing")'>
		</p>
	</div>


	<div class="form-group row">
		<label for="inputName" class="col-12 col-form-label">Logo</label>
		<div class="col-7">
			<input type='file' formControlName="logo" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
				(change)="onChange($event)" class='form-control-file'>
		</div>
		<p style="color:white;" class="col-sm-12 col-form-label" [innerHtml]='checkValidator(getNames("logo"),"logo")'>
		</p>
	</div>


	<div class="form-row">
		<div class="col-12">
			<button type="submit" [disabled]="!campaign.valid" class="btn btn-primary">Criar Campanha</button>
		</div>
	</div>

</form>
