<div class="spinner-border text-primary" [hidden]="campagain" role="status">
	<span class="sr-only">Loading...</span>
</div>
<div class="error-message" [hidden]="!noLoginUser" role="status" [innerHTML]="msg">
	<h3></h3>
</div>



<div class="container" *ngIf="campagain">
	<div class="row justify-content-center ">
		<div *ngFor="let item of campagain.Data" [routerLink]="['/Missions',item.id]" [state]="item"
			style="margin-right: 2em; margin-bottom:1em;" class="col-lg-2 col-sm-6">

			<div class="row">
				<img [src]="item.image" style="height:125px;width:125px;" />
			</div>

			<div class="row">
				<div class="col" style="font-family: LLLiberte; font-size: 25px;">
					<p>{{item.name}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col" style="margin-top: -20px;font-size: 15px;">
					Status: <span [ngClass]="item.status ? 'active':'deactive'">{{activeOrNOt(item.status)}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col" style="font-size: 15px;">
					<div> Missioes:<span class="missions"> ------- {{count[item.name]["count"]}}</span></div>
				</div>
			</div>
		</div>
	</div>

</div>
