<div class="row" style="margin-top:25px">
	<h1 class="col-5">Debriefing <span>{{mission.Data[0].missionName}}</span></h1>
	<h2 class="col-7 text-right">{{mission.Data[0].date | date:'dd-MM-YYYY/h:mm'}}</h2>
</div>

<div class="row" style="margin-top:54px;">
	<h3 class="col-9" style="color:chocolate">Briefing</h3>
</div>
<div class="row" style="margin-top: 20px;margin-bottom:54px;">
	<div class="col-12">
		<span>
			{{mission.Data[0].briefing}}
		</span>

	</div>
</div>


<ul ngbNav #nav="ngbNav" class="nav-tabs">
	<li ngbNavItem>
		<a ngbNavLink>ShootsFired</a>
		<ng-template ngbNavContent>
			<app-arma [missionID]="missionID"></app-arma>
		</ng-template>
	</li>
	<li ngbNavItem>
		<a ngbNavLink>Medical</a>
		<ng-template ngbNavContent>
			<app-medical [missionID]="missionID"></app-medical>
		</ng-template>
	</li>
	<li ngbNavItem>
		<a ngbNavLink>Unconscious</a>
		<ng-template ngbNavContent>
			<app-unconscious [missionID]="missionID"></app-unconscious>
		</ng-template>
	</li>
</ul>
<div [ngbNavOutlet]="nav"></div>
