@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

* {
	font-size: 1.2em !important;
	color: #ffffff;
	font-family: "Titillium Web", sans-serif !important;
}

.arrozimage {
	background-image: url("../assets/BG.png");
	height: 100%;
	width: 100%;
}
