@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

* {
	font-size: 1.2em !important;
	color: var(--white);
	font-family: "Titillium Web", sans-serif !important;
}

.arrozimage {
	background-image: url("../assets/BG.png");
	min-height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.footer {
	background-color: var(--blank);
}
