<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
	<a class="navbar-brand" [routerLink]="'.'">
		<img style="height:100px;width:100px" src="../../assets/Fenix.png" />
	</a>
	<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
		&#9776;
	</button>
	<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/createCampaing']" (click)="isMenuCollapsed = true">Criar
					campanha</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/Campaing']" (click)="isMenuCollapsed = true">Campaing</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="" (click)="isMenuCollapsed = true">Forum</a>
			</li>
		</ul>
		<ul class="navbar-nav" *ngIf="!isUserLogin; else loggedOut">
			<li class="nav-item left">
				<a class="nav-link" (click)="openmodal()">Login</a>
			</li>
		</ul>

	</div>
</nav>

<ng-template #loggedOut>
	<ul class="navbar-nav">
		<li class="nav-item left">
			<a class="nav-link" (click)="logoutUser()">Logout</a>
		</li>
	</ul>
</ng-template>
