<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
	<a class="navbar-brand" [routerLink]="'.'">
		<h1>Teste</h1>
	</a>
	<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
		&#9776;
	</button>
	<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/Arma']" (click)="isMenuCollapsed = true">Arma</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/Campaing']" (click)="isMenuCollapsed = true">Campaing</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/Medical']" (click)="isMenuCollapsed = true">Medical</a>
			</li>

		</ul>
		<ul class="navbar-nav">
			<li class="nav-item left">
				<a class="nav-link" (click)="openmodal()">Login</a>
			</li>
		</ul>

	</div>
</nav>
