<form [formGroup]='mission' (ngSubmit)="onSubmit()">
	<label class="col-sm-12 col-form-label">Create Campanha</label>
	<div class="form-group row">
		<label for="inputName" class="col-sm-12 col-form-label">Name</label>
		<div class="col-12">
			<input type="text" class="form-control" name="inputName" id="inputName" placeholder="Name">
		</div>
	</div>

	<div class="form-row">
		<div class="col-4">
			<div class="form-group ">
				<div class="form-group row">
					<label for="slots" class="col-form-label col-12">Slots</label>
					<div class="col-12">
						<input for="slots" class="form-control" formControlName="slots" placeholder="Slots" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-8">
			<div class="form-group row">
				<label class="col-12 col-form-label">Data</label>
				<div class="col-12">
					<input type="datetime-local" formControlName="data" class="form-control " placeholder="Data" />
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="inputName" class="col-sm-12 col-form-label">Breifing</label>
		<div class="col-12">
			<textarea class='form-control' style="resize: none;" rows=7></textarea>
		</div>
	</div>
	<div class="form-group row">
		<label for="inputName" class="col-12 col-form-label">Logo</label>
		<div class="col-7">
			<input type='file' accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" class='form-control-file'>
		</div>
	</div>

	<div class="form-row">
		<div class="col-12">
			<button type="submit" class="btn btn-primary">Criar Missao</button>
		</div>
	</div>

</form>
