/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

$red: #f00031;
$orange: #ff8900;
$green: #00f09d;

$white: #ffffff;

$theme-colors: (
	primary: $orange,
	secondary: $white,
	success: $green,
	warning: $red,
	danger: $red,
);
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
