<div class="container ">
	<div class="row">
		<h1 class="col-12">GTIFENIX</h1>
	</div>

	<div>
		<div class="row espaceimg ">
			<div class="col-4">
				Criada em 2020 com a intençao de juntar amigos e bigodes
			</div>
			<img class="col-8" src="../../assets/Bigodes.jpg">
		</div>
		<div class="row espaceimg">
			<img class="col-8" src="../../assets/ONU.jpg">
			<div class="col-4">
				Fazemos missoes como onu,mercenarios e muito mais
			</div>
		</div>
		<div class="row espaceimg">
			<div class="col-3">
				Com uma campanha desenvolida pela comunidade e com muita diversão a mistura
			</div>
			<img class="col-9" src="../../assets/Car+men.jpg">
		</div>
		<div class="row espaceimg">
			<img class="col-9" src="../../assets/multiOPs.jpg">
			<div class="col-3">
				Para qualquer gosto. desde estar com os pes bem fixos no chao, ou ter os pes no ar literamente e os pes
				molhados.

			</div>
		</div>
		<div class="row espaceimg">
			<div class="col-3">
				E sempre nos limites do arma e dos computadores da malta
			</div>
			<img class="col-9" src="../../assets/ontheedges.jpg">
		</div>

	</div>
</div>
