<div class="container ">
	<div class="row">
		<h1 class="col-12">GTIFENIX</h1>
	</div>

	<div>
		<div class="row" data-aos="fade-up" data-aos-duration="3000">
			<div class="col-12 col-md-4">
				Criada em 2020 com a intençao de juntar amigos e bigodes
			</div>
			<img class="col-12 col-md-8" src="../../assets/Bigodes.jpg">
		</div>
		<div class="row espaceimg" data-aos="fade-down" data-aos-duration="3000">
			<img class="col-12 col-md-8" src="../../assets/ONU.jpg">
			<div class="col-12 col-md-4">
				Fazemos missoes como onu,mercenarios e muito mais
			</div>
		</div>
		<div class="row espaceimg" data-aos="fade-up-left" data-aos-duration="3000">
			<div class="col-12 col-md-4">
				Com uma campanha desenvolida pela comunidade e com muita diversão a mistura
			</div>
			<img class="col-12 col-md-8" src="../../assets/Car+men.jpg">
		</div>
		<div class="row espaceimg" data-aos="flip-up" data-aos-duration="3000">
			<img class="col-12 col-md-8" src="../../assets/multiOPs.jpg">
			<div class="col-12 col-md-4">
				Para qualquer gosto. desde estar com os pes bem fixos no chao, ou ter os pes no ar literamente e os pes
				molhados.

			</div>
		</div>
		<div class="row espaceimg" data-aos="zoom-in" data-aos-duration="3000">
			<div class="col-12 col-md-4">
				E sempre nos limites do arma e dos computadores da malta
			</div>
			<img class="col-12 col-md-8" src="../../assets/ontheedges.jpg">
		</div>

	</div>
</div>
