<div class="container ">
	<div class="row" style="margin-bottom:15%">
		<h1 class="col-12">GTIFENIX</h1>
	</div>

	<div>
		<div class="row" data-aos="fade-up" data-aos-duration="3000">
			<div class="col-12 col-md-4 align-middle text-center">
				Criada em 2020 😷 com a intenção de juntar amigos e bigodes em um ambiente divertido e com muita
				camaradagem.
			</div>
			<img class="col-12 col-md-8" src="../../assets/Bigodes.jpg">
		</div>
		<div class="row espaceimg" data-aos="fade-right" data-aos-duration="3000">
			<img class="col-12 col-md-8" src="../../assets/ONU.jpg">
			<div class="col-12 col-md-4 align-middle text-center">
				Com missões, todas ou quase todas as sextas feiras e sabados.<br> Jogamos desde militares a
				mercenarios.<br>
				<br>Ja fizemos campanhas pelos:
				<br> Militares Portugues,
				<br> ONU,
				<br> Militares Alemães
			</div>
		</div>
		<div class="row espaceimg" data-aos="fade-up-right" data-aos-duration="3000">
			<div class="col-12 col-md-4 align-middle text-center">
				Com campanhas desenvolidas pela comunidade.
				<br>
				<br> Com o Zeus mais alidado do que inimigo.
				<br>
				<br> Malta com muito amor a ver outros a jogar.
			</div>
			<img class="col-12 col-md-8" src="../../assets/Car+men.jpg">
		</div>
		<div class="row espaceimg" data-aos="fade-down" data-aos-duration="3000">
			<img class="col-12 col-md-8" src="../../assets/multiOPs.jpg">
			<div class="col-12 col-md-4">
				Com todos os ramos militares e com <b>estatiticas</b>
				<br> Com pes no chão 🌍,
				<br> Com pes no ar ✈️,
				<br> Ou os masochista que gostam de ter os pes molhados 🌊.
			</div>
		</div>
		<div class="row espaceimg" data-aos="zoom-in" data-aos-duration="3000">
			<div class="col-12 col-md-4">
				Com os computadores da malta a fazer torradas 🍞 e com muitos cafes ☕ a mistura
				<br> temos diversão para todos.
			</div>
			<img class="col-12 col-md-8" src="../../assets/ontheedges.jpg">
		</div>

	</div>
</div>
