<div class="row" style="margin-top:25px">
	<h1 class="col-5">{{missionObject.missionName}}</h1>
	<h2 class="col-7 text-right">{{missionObject.date | date:'dd-MM-YYYY'}}</h2>
</div>

<div class="row" style="margin-top:54px">
	<h3 class="col-9" style="color:chocolate">Briefing</h3>
	<span class="col-2 " style="color:chartreuse; border-radius: 20px;">
		Slots: {{slotsavl}}/{{missionObject.maxsolts}}
	</span>
	<!-- TODO -->
	<h4 class="col-1 bg-transparent" style="color:chartreuse; border-color: transparent; cursor: pointer;"
		(click)="joinmission()">
		JOIN
	</h4>
</div>
<div class="row" style="margin-top: 20px;">
	<div class="col-9">
		<span>
			{{missionObject.briefing}}
		</span>

	</div>
	<div class="col-3" style="padding:0px">

		<p class="col-12" style="font-size:18px">Quem esta a participar:</p>
		<ul class="" *ngFor="let item of missionObject.joined">
			<li>{{item.user_name}}</li>
		</ul>
	</div>

</div>
